#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    width: 100%;
    height: 160px;
}

#container-shopify{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    width: 25%;
}

#container-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    width: 50%;
}

#corpo {
    display: flex;
    flex-direction: column;
    background-color: #f9e4b7;
    width: 100%;
    height: 100%;
}

#container-destaque{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 280px;
    width: 100%;
}

#produto-destaque{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}

#container-promocoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 280px;
    width: 100%;
}

#promocoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}

.texto-corpo{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    height: 130px;
    width: 15%;
}

.container-corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-left: 10px;
    height: 130px;
    width: 170px;
}

#depoimento-usuarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    width: 100%;
}

#container-comentarios{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: orange;
    height: 820px;
    width: 80%;
}

.container-perfil{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 25%;
    width: 70%; 
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.comentario{
    height: 50%;
    width: 90%;
    overflow: auto;
}

.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.espacamento{
    padding-right: 20px;
}

.avaliacao{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.negrito{
    font-weight: bold;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;   
    color: white;
    background-color: orange;
}

